:root {
  --grey-lightest: #f7f9fa;
  --grey: #c8d1dc;
  --dark-grey: #6b7785;
  --dark-blue: #1f2d3d;
  --dark-blue-border: #2b3f56;
  --green: #72cc18;
  --red-dark: #bb0c0c;
  --font-family: GraphikRegular, 'Helvetica Neue', Sans-Serif;
}
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: var(--font-family);
}
body {
     overflow-x: hidden!important;
     width: 100vw;
}
nav{
     background-color: var(--grey);
     letter-spacing: 1px;
     height: 10vh;
     .navbar-brand{
          color: var(--dark-blue-border);
          font-weight: 700;
          span{
               color: var(--red-dark);
          }
     }
     .active{
          color: var(--dark-blue-border);
          font-weight: 500;
     }
     .Btn {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 40px;
          height: 40px;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          position: relative;
          font-size: 17px;
          overflow: hidden;
          transition-duration: .3s;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
          background-color: var(--dark-blue);
        }
        
        /* plus sign */
        .sign {
          width: 100%;
          transition-duration: .3s;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .sign svg {
          width: 17px;
        }
        
        .sign svg path {
          fill: white;
        }
        /* text */
        .text {
          position: absolute;
          right: 0%;
          width: 0%;
          opacity: 0;
          color: white;
          font-size: 1.2em;
          font-weight: 600;
          transition-duration: .3s;
        }
        /* hover effect on button width */
        .Btn:hover {
          width: 125px;
          border-radius: 40px;
          transition-duration: .3s;
        }
        
        .Btn:hover .sign {
          width: 30%;
          transition-duration: .3s;
          padding-left: 20px;
        }
        /* hover effect button's text */
        .Btn:hover .text {
          opacity: 1;
          width: 70%;
          transition-duration: .3s;
          padding-right: 10px;
        }
        /* button click effect*/
     .Btn:active {
          transform: translate(2px ,2px);
     }
}
.hero{
     height: 85vh;
     background-image: url(woman-taking-notes-from-her-friend-s-doctor.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     .col-7{
          margin-top: 20%;
          margin-left: 30px;
     }
     .btn {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .5s;
          border: none;
          background-color: transparent;
        }
        
        .btn div {
          letter-spacing: 2px;
          font-weight: bold;
          background: var(--dark-blue-border);
          border-radius: 2rem;
          color: var(--grey-lightest);
          padding: 1rem;
        }
        
        .btn::before {
          content: '';
          z-index: -1;
          background-color: var(--dark-blue-border);
          border: 2px solid black;
          border-radius: 2rem;
          width: 110%;
          height: 100%;
          position: absolute;
          transform: rotate(10deg);
          transition: .5s;
          opacity: 0.2;
        }
        
        .btn:hover {
          cursor: pointer;
          filter: brightness(1.2);
          transform: scale(1.1);
        }
        
        .btn:hover::before {
          transform: rotate(0deg);
          opacity: 1;
        }
        
        .btn svg {
          transform: translateX(-200%);
          transition: .5s;
          width: 0;
          opacity: 0;
        }
        
        .btn:hover svg {
          width: 25px;
          transform: translateX(0%);
          opacity: 1;
        }
        
        .btn:active {
          filter: brightness(1.4);
        }
}